:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  padding-left: 0;
  padding-right: 0;
}
:host ::ng-deep .mat-button{
  width: 100%;
  text-align: left;
}
:host ::ng-deep .mat-button-wrapper{
  font-size:16px;
}

:host ::ng-deep .isActive{
  color:deeppink;
}
