::ng-deep .parent{
  display:flex;
  flex-direction: column;
}

::ng-deep .parent ul li{
  color:red
}

:host >>> .active {
  background-color: #b8ebf5;
}

@media only screen and (max-width: 768px) {
  ::ng-deep .parent{
    display:flex;
    flex-direction: row;
  }
}
