
table{
  position:relative;
  width: 100%;
  z-index: 5;
}

td{
  border-top:0 !important;
}

td:hover{
  cursor: pointer;
}

.table thead th{
  border-bottom:none;
}
img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor:pointer;
}

p,h3{
  margin:0;
}


