<div>
  <div class="d-flex justify-content-between">
    <button mat-icon-button [matMenuTriggerFor]="configMenu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu
      #configMenu="matMenu"
      xPosition="after"
      yPosition="below"
      [overlapTrigger]="false"
    >
      <a mat-menu-item style="text-decoration: none" (click)="acceptSelected()">
        Accept selected posts
      </a>
      <a mat-menu-item style="text-decoration: none" (click)="declineSelected()">
        Decline selected posts
      </a>
      <a mat-menu-item style="text-decoration: none" (click)="pendingSelected()">
        Pending selected posts
      </a>
    </mat-menu>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10]"
      [pageIndex]="pageIndex"
      class="mb-3"
    >
    </mat-paginator>
  </div>

  <div class="mb-4" *ngFor="let post of slicingPosts">
    <mat-accordion>
      <mat-expansion-panel #mep="matExpansionPanel" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="m-2 mt-3 matcard">
              <div class="d-flex">
                <mat-checkbox
                  (change)="onChange(post.postId)"(click)="mep.toggle()"></mat-checkbox>
                <a [routerLink]="['/topics',post.topic.topicId,'posts',post.postId]" class="m-0">{{post.title}}</a>
              </div>
              <div class="d-flex flex-wrap">
                <h5 class="m-2">Created on: {{convertDateLastComment(post.createdOn)}}</h5>
                <div class="d-flex ml-2">
                  <div style="padding-top:10px">
                    <div class="statusBtn acceptBtn" *ngIf="post.status==='ACCEPTED'"></div>
                    <div class="statusBtn pendingBtn" *ngIf="post.status==='PENDING'"></div>
                    <div class="statusBtn declinedBtn" *ngIf="post.status==='DECLINED'"></div>
                  </div>
                  <h5 class="m-2">{{post.status | titlecase}}</h5>
                </div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <p  [innerHTML]="post.content | sanitizeHtml"></p>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
