<div style="position: relative; z-index: 5; display:flex; justify-content: center; width: 100%">
  <mat-card style="width: 70%; margin-top: 25px;">
    <h1>About</h1>
    <p>© 2021 by Trang Nguyen and Nhat Duy</p>
    <p>This website is built using Java Spring Boot, Angular, MySQL, AWS and other tools and libraries (Spring Security, Java WebSocket, StompJs, CKEditor, PrimeNg).</p>
    <p>If you find any posts that has inappropriate content, feel free to hide it by logging in as "admin@gmail.com", password: "admin123456", then going to the admin's dashboard and changing the post's status as "DECLINED" or "PENDING". The posts won't be deleted but won't show up on the website.</p>
    <p>Feel free to message us via tracy (Trang Nguyen) and dannyD (Nhat Duy), we are happy to hear any feedback from you or any opportunities to join other projects 😀.</p>
    <p>Thank you and happy coding!</p>

  </mat-card>

</div>
