<div style="position: relative; z-index: 5; display:flex; justify-content: center; width: 100%">
  <mat-card style="width: 70%; margin-top: 25px;">
    <h1>About</h1>
    <p>© 2021 by Trang Nguyen and Nhat Duy</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan nisi non velit dapibus vestibulum eget a leo. Vivamus ut ornare enim. Nam sit amet suscipit nisl, vel egestas nibh. Etiam aliquet orci ipsum, id vulputate turpis accumsan at. Pellentesque id sem ante. Morbi tellus nulla, ultricies at odio eget, consectetur luctus velit. Fusce urna neque, scelerisque et cursus et, molestie ut urna. Aliquam rhoncus venenatis ante, non lacinia eros imperdiet ut.

      Aliquam accumsan eget nisi blandit ultrices. Donec tempor mollis maximus. Curabitur fermentum egestas quam, a interdum eros lacinia sit amet. Integer blandit est eget leo hendrerit commodo. Duis feugiat rhoncus velit sit amet eleifend. Quisque aliquet, dui quis dictum hendrerit, mauris odio feugiat enim, id dictum lacus elit sed erat. Nullam ut lorem felis. Vivamus auctor dictum dui aliquam congue.
    </p>
    <p>Feel free to message us via tracy(Trang Nguyen) and duydeptrai(Nhat Duy), we are happy to hear any feedback from you or any opportunities to join other projects :D.</p>
    <p>Thank you and happy coding!</p>

  </mat-card>

</div>
