<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <ngx-avatar
        name={{admin.username}}
        textSizeRatio="2"
        bgColor={{avaColor}}></ngx-avatar>
    </div>
    <mat-card-title>{{admin.username}}</mat-card-title>
    <mat-card-subtitle>{{admin.email}}</mat-card-subtitle>
  </mat-card-header>
  <br>
  <mat-card-content>
    <button mat-raised-button color="primary"
            matBadge={{noOfPendingPosts}} matBadgePosition="after" matBadgeColor="accent">
      Pending
    </button>
    <h5 class="mt-2" *ngIf="noOfPendingPosts>0">You have new posts to approve!</h5>
  </mat-card-content>
</mat-card>
