<mat-nav-list>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Search posts that contain</mat-label>
      <input matInput type="text" name="searchString" [(ngModel)]='searchString'>
      <mat-icon matSuffix (click)="search()" style = "cursor: pointer">search</mat-icon>
    </mat-form-field>
  </div>

  <a mat-list-item [routerLink]="['/hot']">
    <mat-icon mat-list-icon>
      whatshot
    </mat-icon>
    <p mat-line> What's Hot? </p>
  </a>
  <a mat-list-item  [routerLink]="['/topics/Assignment_Help/posts']" [queryParams]="{ p: 1} ">
    <mat-icon mat-list-icon>
      forum
    </mat-icon>
    <p mat-line> Forum </p>
  </a>

  <mat-divider></mat-divider>

  <a id="push-bottom" mat-list-item [routerLink]="['/about']">
    <mat-icon mat-list-icon>
      info_outline
    </mat-icon>
    <p mat-line> About </p>
  </a>
</mat-nav-list>
