<mat-nav-list>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Search posts that contains</mat-label>
      <input matInput type="text" name="searchString" [(ngModel)]='searchString'>
      <mat-icon matSuffix (click)="search()" style = "cursor: pointer">search</mat-icon>
    </mat-form-field>
  </div>

  <a mat-list-item >
    <mat-icon mat-list-icon>
      whatshot
    </mat-icon>
    <p mat-line [routerLink]="['/hot']"> What's Hot? </p>
  </a>
  <a mat-list-item>
    <mat-icon mat-list-icon>
      forum
    </mat-icon>
    <p mat-line [routerLink]="['/topics/1/posts']" [queryParams]="{ pageIndex: 1,pageSize: 10} "> Forum </p>
  </a>

  <mat-divider></mat-divider>

  <a id="push-bottom" mat-list-item >
    <mat-icon mat-list-icon>
      info_outline
    </mat-icon>
    <p mat-line [routerLink]="['/about']"> About </p>
  </a>
</mat-nav-list>
