.chat-panel-wrapper{
  background-color: pink;
  height:70vh;
  width:27%;
  position: fixed;
  top: 4;
  right:0;
}

.btn-chat-toggle{
  background-color: purple;
  width:fit-content;
  margin-left:auto
}


.chatpanel-container{
  display:flex;
  flex-direction: column;
  overflow: hidden !important;
}

.chat-sidenav{
  width: 100%;
}

:host ::ng-deep .mat-card{
  box-shadow:none !important;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.myprofile /deep/{
  margin: auto;
}

.status{
  width:8px;
  height:8px;
  border-radius:50%;
  display:inline-block;
  margin-right:7px;
}
.green{
  background-color:#58b666;
}
.orange{
  background-color:#ff725d;
}

:host ::ng-deep .mat-list-item:hover{
  background-color:lightgray;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .chat-panel-wrapper{
    width: 40%;
  }
}

@media only screen and (max-width: 540px) {
  .chat-panel-wrapper{
    width: 50%;
  }
}

@media only screen and (max-width: 415px) {
  .chat-panel-wrapper{
    width: 70%;
  }
}
@media only screen and (max-width: 320px) {
  .chat-panel-wrapper{
    width: 100%;
  }
}
