<p-menubar [model]="items" styleClass="parent"></p-menubar>

<br>

<mat-card>
    <mat-card-content>
        <form #f='ngForm' (ngSubmit)='onSubmit(f)' class="container">
            <h2>Show only</h2>
                <div fxLayout="column">
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Find By Tag</mat-label>
                        <input matInput type="text" [(ngModel)]='filteredKeyword.searchTag' name="searchTag">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Started from</mat-label>
                        <input matInput  [matDatepicker]="picker" [(ngModel)]="filteredKeyword.fromDate" name="fromDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="full-width-input">
                        <mat-grid-list cols="4">
                            <mat-select name="updatedDate" [(value)]="filteredKeyword.updatedDate" placeholder = "Last Update">
                                <mat-option [value]="7">7 days</mat-option>
                                <mat-option [value]="14">14 days</mat-option>
                                <mat-option [value]="30">30 days</mat-option>
                                <mat-option [value]="60">2 months</mat-option>
                                <mat-option [value]="90">3 months</mat-option>
                                <mat-option [value]="180">6 months</mat-option>
                                <mat-option [value]="365">1 year</mat-option>
                            </mat-select>
                        </mat-grid-list>
                    </mat-form-field>

                    <mat-grid-list cols="2" rows="1"class="full-width-input">
                        <mat-form-field id="sort">
                            <mat-select name="sortedBy" [(value)]="filteredKeyword.sortedBy" placeholder = "Sorted By">
                                <mat-option [value]="'titles'">Titles</mat-option>
                                <mat-option [value]="'comments'">Comments</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field id="order">
                            <mat-label>Order</mat-label>
                            <mat-select name="order" [(value)]="filteredKeyword.order" placeholder = "Order">
                                <mat-option [value]="'ascending'">Ascending</mat-option>
                                <mat-option [value]="'descending'">Descending</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-list>
                </div>            
                <button mat-raised-button>
                    <mat-icon  style="opacity:.5">search</mat-icon>
                    <span style="opacity:.5">&nbsp;&nbsp;&nbsp;Filter</span>
                </button>
        </form>
    </mat-card-content>
</mat-card>

<br /><br />


