<p-menubar [model]="items"></p-menubar>

<br>
<mat-card>
    <mat-card-content fxLayout="row wrap" fxLayout.xs="column">
        <div fxflex><img alt="ok" [style.margin]="'10px'" [style.max-width]="'90%'" /></div>
        <div fxFlex>
            <div [style.min-width]="'300px'" [style.margin]="'10px'">
                <strong>Hehe: </strong>kjhl<br />
                <strong>Okay: </strong> jhkjh<br /><br />

                <mat-chip-list aria-label="Artist selection">
                    <mat-chip [routerLink]="['/artist']">hjkl</mat-chip>
                </mat-chip-list>
                <br />

                <div>
                      jkl
                    
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br /><br />
<h2>Hihi</h2> -->

<!-- <mat-list> -->
    <!-- Single "Responsive" Material List Item-->
    <!-- <mat-list-item> -->
        <!-- here -->
    <!-- </mat-list-item> -->
    <!-- -->
<!-- </mat-list>


<!-- <div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
        <label for="inputtext">InputText</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="valueIconLeft"
        />
        <label for="inputtext-left">Left Icon</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label p-input-icon-right">
        <i class="pi pi-spin pi-spinner"></i>
        <input
          type="text"
          id="inputtext-right"
          pInputText
          [(ngModel)]="valueIconRight"
        />
        <label for="inputtext-right">Right Icon</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-autoComplete
          inputId="autocomplete"
          [(ngModel)]="value2"
          [suggestions]="filteredCountries"
          (completeMethod)="searchCountry($event)"
          field="name"
        ></p-autoComplete>
        <label for="autocomplete">AutoComplete</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-calendar inputId="calendar" [(ngModel)]="value3"></p-calendar>
        <label for="calendar">Calendar</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-chips inputId="chips" [(ngModel)]="value4"></p-chips>
        <label for="chips">Chips</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-inputMask
          inputId="inputmask"
          mask="99/99/9999"
          [(ngModel)]="value5"
        ></p-inputMask>
        <label for="inputmask">InputMask</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-inputNumber inputId="inputnumber" [(ngModel)]="value6"></p-inputNumber>
        <label for="inputnumber">InputNumber</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText [(ngModel)]="value7" />
          <label for="inputgroup">InputGroup</label>
        </span>
      </div>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-cascadeSelect
          inputId="cascadeSelect"
          [options]="cascadeSelectCountries"
          optionLabel="cname"
          optionGroupLabel="name"
          [optionGroupChildren]="['states', 'cities']"
        ></p-cascadeSelect>
        <label for="cascadeSelect">CascadeSelect</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-dropdown
          inputId="dropdown"
          [autoDisplayFirst]="false"
          [options]="cities"
          [(ngModel)]="value8"
          optionLabel="name"
        ></p-dropdown>
        <label for="dropdown">Dropdown</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <p-multiSelect
          inputId="multiselect"
          [options]="cities"
          [(ngModel)]="value9"
          optionLabel="name"
          [filter]="false"
        ></p-multiSelect>
        <label for="multiselect">MultiSelect</label>
      </span>
    </div>
    <div class="p-field p-col-12">
      <span class="p-float-label">
        <textarea
          inputId="textarea"
          rows="3"
          cols="30"
          [(ngModel)]="value10"
          pInputTextarea
        ></textarea>
        <label for="textarea">Textarea</label>
      </span>
    </div>
  </div> -->