::ng-deep .parent{
    display:flex;
    flex-direction: column;
}

table{
    width: 100%;
}

th{
    border-top:none;
}
.table thead th{
    border-bottom:none;
}
#authorAvatarUrl{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position:relative
}
#replierAvatarUrl{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
p,h3{
    margin:0;
}
  
.form{
    left:-230px;
    top:35px;
    z-index: 1;
}

.container{
    background-color: purple;
    width:fit-content;
    display:flex;
    flex-direction: column;
    padding:5px 15px 15px 15px;
    margin-right:50px;
}

/* tooltip */
.trigger img{
    cursor: pointer;
  }
  .trigger .toolTip{
    display: none;
  }
   .trigger:hover .toolTip {
    display: inline;
  } 
#replierCard{
    right:90px;
}

  

@media only screen and (max-width: 768px) {
    ::ng-deep .parent{
        display:flex;
        flex-direction: row;
    }
}