.footer{
  flex-shrink: 0;
  flex-grow: 0;
  background: #eee;
  padding: 3px 15px;
}
.maincontent{
  margin-bottom:30px;
  min-height:80vh;
}
:host ::ng-deep ngx-avatar{
  cursor: pointer
}
a:hover{
  color:#C5CAE9;
}
