<div class="navbar-container">

  <!-- Top navbar -->
  <app-top-navbar (toggleEvt)="handleToggleTopNavbar($event)"></app-top-navbar>

  <mat-sidenav-container>
    <mat-sidenav [opened]="open" [mode]="'side'" [fixedInViewport]="true" fixedTopGap="56">
      <app-navlist></app-navlist>
    </mat-sidenav>

    <mat-sidenav-content class="mat-drawer-content mat-sidenav-content sidenav-content">

      <!-- Main content -->
      <div class="maincontent">
        <router-outlet></router-outlet>
        <app-chatpanel
          (selectedUsrEvt)="handleSelectedUser($event)"
          (messagesEvt)="handleMessages($event)"
          [sentMessage]="sentMessage">
        </app-chatpanel>
      </div>

      <div class="bottom-spacer text-center">
        <app-chatbox
          *ngIf="!isCloseChatBox"
          [selectedUser]="selectedUser"
          [messages]="messages"
          (isCloseChatBoxEvt)="handleCloseChatBox($event)"
          (sentMessageEvt)="handleSentMessage($event)">
        </app-chatbox>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>


