<div class="navbar-container">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" matTooltip="Home">
      <h1>
         Forum
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item>
        <span>Log In</span>
      </a>
      <a mat-menu-item>
        <span>Register</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container>
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="false" [mode]="'side'" [fixedInViewport]="true" fixedTopGap="56">
      <mat-nav-list>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Search posts</mat-label>
            <input matInput type="text" name="searchString" [(ngModel)]='searchString'>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <a mat-list-item >
          <mat-icon mat-list-icon>
            whatshot
          </mat-icon>
          <p mat-line [routerLink]="['/whatshot']"> What's Hot? </p>
        </a>
        <a mat-list-item>
          <mat-icon mat-list-icon>
            forum
          </mat-icon>
          <p mat-line [routerLink]="['/topics/1/posts']" [queryParams]="{ pageIndex: 1,pageSize: 10} "> Forum </p>
        </a>

        <mat-divider></mat-divider>

        <a id="push-bottom" mat-list-item >
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          <p mat-line [routerLink]="['/about']"> About </p>
        </a>
      </mat-nav-list>

    </mat-sidenav>
    
    <mat-sidenav-content class="mat-drawer-content mat-sidenav-content sidenav-content">
      
      <!-- Main content -->
      <router-outlet></router-outlet>
      <!-- ------------ -->
      <div class="bottom-spacer"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>