<div class="d-flex justify-content-between">
  <div>
    <div style="background-color: yellow; position:relative; height: 300px; display: flex">
      <div>fds</div>
      <app-chatpanel
        (selectedUsr)="handleSelectedUser($event)"
        (messagesOfSelected)="handleMessages($event)"></app-chatpanel>
    </div>
    <app-chatbox
      [selectedUser]="selectedUser"
      [currentUser]="currentUser"
      *ngIf="!isCloseChatBox"
      (isCloseChatBox)="handleCloseChatBox($event)"
      [messages]="messages"></app-chatbox>
  </div>
</div>








