<div class="d-flex justify-content-between">
  <div>
    <div>
      <div>fds</div>
<!--      <app-chatpanel-->
<!--        (selectedUsrEvt)="handleSelectedUser($event)"-->
<!--        (messagesEvt)="handleMessages($event)"-->
<!--        [sentMessage]="sentMessage"></app-chatpanel>-->
    </div>
    <app-chatbox
      *ngIf="!isCloseChatBox"
      [selectedUser]="selectedUser"
      [messages]="messages"
      (isCloseChatBoxEvt)="handleCloseChatBox($event)"
      (sentMessageEvt)="handleSentMessage($event)">

    </app-chatbox>
  </div>
</div>








