<div class="mb-5" *ngFor="let post of posts; let i=index">
  <p-panel header={{post.title}}  [toggleable]="true" [collapsed]="false">
    <ng-template pTemplate="icons">
      <button mat-button [matMenuTriggerFor]="configMenu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #configMenu="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
        <a mat-menu-item style="text-decoration: none" (click)="navigateEdit(i)">
          Edit
        </a>
        <a mat-menu-item style="text-decoration: none"(click)="openDialog(i)">
          Delete
        </a>
      </mat-menu>
    </ng-template>
    <p  [innerHTML]="post.content | sanitizeHtml"></p>
  </p-panel>
</div>
