
<mat-accordion hideToggle>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <h3 class="m-0" style="color:white">
              {{selectedUser.username}}
              <span class="status green ml-2"*ngIf="selectedUser.status=='ONLINE'"></span>
              <span class="status orange ml-2"*ngIf="selectedUser.status=='OFFLINE'"></span>
            </h3>
          </div>

          <mat-icon
            style="color:#FFFFFF; font-size: 20px;padding-top:3px; padding-left:20px;"
            (click)="closeChatBox()">close</mat-icon>
        </div>


      </mat-panel-title>

    </mat-expansion-panel-header>
    <div id="chatbox-area">
      <div class="card-content chat-content">
        <div class="content" *ngFor="let mes of messages">
          <div class="chat-message-group" *ngIf="mes.senderName!=currentUser.username">
            <div class="chat-thumb">
              <ngx-avatar
                name={{mes.senderName}}
                size="25"
                textSizeRatio="2"
                bgColor={{setColor(mes.senderName)}}>
              </ngx-avatar>
            </div>

            <div class="chat-messages">
              <div class="message">
                {{mes.content}}
              </div>
              <div class="from">{{convertTime(mes.createdOn)}}</div>
            </div>
          </div>

          <div class="chat-message-group writer-user" *ngIf="mes.senderName==currentUser.username">
            <div class="chat-messages">
              <div class="message">{{mes.content}}</div>
              <div class="from">{{convertTime(mes.createdOn)}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-3 d-flex">
      <textarea style="width: 85%; border-color: lightgray; border-radius: 5px" [(ngModel)]="text"></textarea>
      <button mat-button color="primary" class="mb-2"  (click)="send()">send</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

