:host ::ng-deep .mat-accordion {
  position: absolute;
  bottom: 1px;
  right: 20px;
}

:host ::ng-deep .mat-expansion-panel-header{
  background-color: #3F51B5 !important;
  height: fit-content;
  padding-top:4px;
  padding-bottom: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

:host ::ng-deep .mat-expansion-panel-body{
  padding-right:10px;
}
.accordion-wrapper{
  display:flex;
  position: absolute;
  bottom: 1px;
}
#chatbox-area{
  width: 250px;
  height: 300px;
}

.chat-content{
  overflow: auto;
  height: 300px;
  margin-top:15px;
}

.chat-thumb{
  float: left;
  width: 20%;
}

.chat-messages{
  float: left;
  width: 80%;
  margin-bottom: 20px;
}

.status{
  width:8px;
  height:8px;
  border-radius:50%;
  display:inline-block;
  margin-right:7px;
}
.green{
  background-color:#58b666;
}
.orange{
  background-color:#ff725d;
}

.chat-message-group .chat-thumb{
  float: left;
  width: 20%;
}
.chat-message-group .chat-messages{
  float: left;
  width: 80%;
  margin-bottom: 20px;
}
.chat-message-group .message{
  padding: 10px;
  background: #ecf1f8;
  font-size: 13px;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right:16px;
}
.chat-messages .from{
  width: 100%;
  font-size: 11px;
  padding-right:20px;
}

.writer-user .chat-messages{
  float: right;
  width: 100%;
}
.writer-user .chat-messages .message{
  float: right;
  background: #683db8;
  color: #FFF;
}
.writer-user .chat-messages .from{
  float: left;
  display: block;
  width: 100%;
  text-align: right;
}
.chatBox-textbox{
  width: 100%;
}
.chat-textarea{
  font-size: 14px;
  padding: 8px;
  height: 40px;
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
