<p-table [value]="topics">
  <ng-template pTemplate="caption" class="m-0">
    <div class="d-flex p-0 m-0 p-ai-center p-jc-between justify-content-between">
      <h3 class="pt-2 ml-3">Fun facts</h3>
      <button mat-icon-button color="warn" (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Topic</th>
      <th>Total Posts</th>
      <th>Total Comments</th>
      <th>Total Views</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-topics>
    <tr>
      <td>{{topics.topicName}}</td>
      <td>{{topics.noOfPosts}}</td>
      <td>{{topics.noOfComments}}</td>
      <td>{{topics.views}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      Currently there are  users online.
    </div>
  </ng-template>
</p-table>
