::ng-deep .parent{
  display:flex;
  flex-direction: column;
}

::ng-deep .parent ul li{
  color:red
}
p,h3{
  margin:0;
}

.form{
  left:-230px;
  top:50px;
  z-index: 1;
  width:100%;
}
#showonly{
  color:white
}

.container{
  background-color: #3F51B5;
  min-width: 300px;
  width:100%;
  display:flex;
  flex-direction: column;
  padding:5px 15px 15px 15px;
  border-radius: 5px;
}

::ng-deep .material-icons .pi .pi-pencil{
  margin-bottom:15px;
}
::ng-deep .mat-icon-button .mat-button-base{
  color:white
}
::ng-deep .mat-select-arrow{
  color:white
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding-top: 1.3em !important;
}

::ng-deep .mat-form-field .mat-input-element {
  color:  white;
  font-size:15px;
}
::ng-deep .mat-form-field .mat-form-field-label {
  color: white!important;
  font-size:15px;
  margin-bottom: 4px;
}

::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: #8C9EFF;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: #C5CAE9;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
  color: white;
}
::ng-deep .mat-select{
  padding-bottom:5px;
}
::ng-deep .mat-select-value{
  font-size:15px;
  color:white
}
::ng-deep .mat-date-range-input {
  color: white;
  font-size:15px
}
::ng-deep  .mat-date-range-input-separator {
  color: white;
}
::ng-deep .mat-option-text{
  font-size:15px;
}
::ng-deep .mat-date-picker-toggle-default-icon .ng-star-inserted{
  background-color: #C5CAE9;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #E91E63;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: white;
  font-size:15px;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: color;
}

::ng-deep mat-icon, span{
  color:#C5CAE9
}
