<div class="container mt-3 pt-4 pb-4 pl-3 pr-3 main d-flex flex-wrap" *ngIf="post!=null">

    <div class="container col-md-8 pt-4 pb-3 post">
        <div class="container d-flex justify-content-between">
            <div class="container d-flex pl-0">
                <mat-icon color="warn" *ngIf="post.topic.topicId=='Assignment_Help'">live_help</mat-icon>
                <mat-icon color="primary" *ngIf="post.topic.topicId=='Coding_Challenges'">assignment</mat-icon>
                <mat-icon color="accent" *ngIf="post.topic.topicId=='Coop/ Internship'">laptop</mat-icon>
                <mat-icon color="warn" *ngIf="post.topic.topicId=='Exam_Prep'">work</mat-icon>
                <mat-icon color="primary" *ngIf="post.topic.topicId=='Jobs'">people</mat-icon>
                <mat-icon color="accent" *ngIf="post.topic.topicId=='Side_Projects'">developer_mode</mat-icon>
                <mat-icon color="warn" *ngIf="post.topic.topicId=='Side_Projects'">attach_money</mat-icon>
                <mat-icon color="primary" *ngIf="post.topic.topicId=='Volunteer'">favourite</mat-icon>
                <h4 style="font-weight: 590;color:#1A237E; margin-left:4px">
                  <a [routerLink]="['/topics',post.topic.topicId,'posts']" [queryParams]="{p: '1'}">{{post.topic.topicName}}</a>
                </h4>
                <h5 style="color: #5C6BC0;padding-top:2px;">&nbsp;&middot;&nbsp;Posted by {{post.author.username}} {{convertDateLastComment(post.createdOn)}}</h5>
            </div>

            <button mat-icon-button aria-label = "Edit the post"
                    (click)="edit()"
                    *ngIf="post.author.username==commenter.username"
            >
                <mat-icon color="warn" class="mb-4">edit</mat-icon>
            </button>
        </div>
        <div class="container">
            <h1 style="color:#1A237E;text-transform: capitalize;">{{post.title}}</h1>
            <mat-chip-list aria-label="Tags">
                <mat-chip *ngFor="let chip of tags" class="no-wrap" [color]="chip.color" selected>{{chip.name}}</mat-chip>
            </mat-chip-list>
            <br>
            <div [innerHTML]="post.content | sanitizeHtml" style="text-align: justify"></div>
        </div>

        <div class="container mt-5" *ngIf="commenter.username!=''">
          <h5>Comment as <span style="color:#304FFE">{{commenter.username}}</span></h5>
          <form #f='ngForm' (ngSubmit)='onSubmit(f)' class="d-flex flex-column">
            <ckeditor [editor]="Editor" [config] ="ckConfig" [(ngModel)]="model.editorData" name="editorData"></ckeditor>
            <div class="container" id="notify">
              <button mat-raised-button>Comment</button>
            </div>
          </form>
        </div>
        <div class="container border rounded d-flex pt-2 pb-2 mt-5 flex-wrap" id="loginorsignup"*ngIf="commenter.username===''">
          <h4 id="loginorsignuph3">Log in or sign up to leave a comment</h4>
          <div class="container text-right p-0 m-0 d-flex justify-content-end" id="loginorsignupbtn">
            <button mat-raised-button class="mr-2" [routerLink]="['/login']" >Log In</button>
            <button mat-raised-button color="primary" [routerLink]="['/register']">Sign Up</button>
          </div>
        </div>
      <div>

        <app-comment [comments]="comments"></app-comment>
      </div>
    </div>

    <div class="container col-md-3 topic">
        <div color="accent" class="container line-topic"></div>
        <br>
        <div class="container d-flex">
          <mat-icon color="warn" *ngIf="post.topic.topicId=='Assignment_Help'">live_help</mat-icon>
          <mat-icon color="primary" *ngIf="post.topic.topicId=='Coding_Challenges'">assignment</mat-icon>
          <mat-icon color="accent" *ngIf="post.topic.topicId=='Coop/ Internship'">laptop</mat-icon>
          <mat-icon color="warn" *ngIf="post.topic.topicId=='Exam_Prep'">work</mat-icon>
          <mat-icon color="primary" *ngIf="post.topic.topicId=='Jobs'">people</mat-icon>
          <mat-icon color="accent" *ngIf="post.topic.topicId=='Side_Projects'">developer_mode</mat-icon>
          <mat-icon color="warn" *ngIf="post.topic.topicId=='Side_Projects'">attach_money</mat-icon>
          <mat-icon color="primary" *ngIf="post.topic.topicId=='Volunteer'">favourite</mat-icon>
            <h4 style="font-weight: 590;color:#1A237E;font-size:25px; padding-left:10px;">{{post.topic.topicName}}</h4>
        </div>
        <div class="container">
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsam minima eveniet maxime enim nostrum numquam, est laborum. Hic quis magni quae odio beatae explicabo, cumque corporis officiis voluptatibus tenetur.</p>
        </div>
        <hr style="width: 90%;border-color:#abc9fa">
        <div class="container d-flex justify-content-between p-0" *ngIf="topic">
            <div class="container">
                <h4 class="m-0 text-center">{{topic.views}}</h4>
                <h4 class="text-center">Views</h4>
            </div>
            <div class="container">
                <h4 class="m-0 text-center">{{topic.noOfPosts}}</h4>
                <h4 class="text-center">Posts</h4>
            </div>
        </div>
    </div>
</div>



