::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #E91E63!important;
}

::ng-deep .image-style-side{
    width:30px;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
}

::ng-deep .mat-select-value{
  font-size:15px;
  color:#C5CAE9
}

:host ::ng-deep .mat-select-min-line, .mat-input-element{
  color:#303F9F;
}

.container{
  position: relative;
  z-index: 5;
}
