<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <ngx-avatar
        name={{user.username}}
        textSizeRatio="2"
        bgColor={{setColor(user.username)}}
        *ngIf="user"></ngx-avatar>
    </div>
    <mat-card-title *ngIf="user">{{user.username}}</mat-card-title>
    <mat-card-subtitle>
      <div class="d-flex"*ngIf="user">{{user.email}}</div>
    </mat-card-subtitle>
  </mat-card-header>
  <br/>
  <mat-card-content>
    <button mat-raised-button color="primary"
            matBadge={{noOfPendingPosts}} matBadgePosition="after" matBadgeColor="accent">
      Pending
    </button>
    <h5 class="mt-2" *ngIf="noOfPendingPosts>0">Admin will approve your posts soon!</h5>
  </mat-card-content>
</mat-card>
