<div class="mb-3 pt-3" style="height: fit-content; position:relative; z-index: 5">
  <h3 class="mb-2" *ngIf="posts.length<=1">{{posts.length}} result for keyword "{{keyword}}"</h3>
  <h3 class="mb-2" *ngIf="posts.length>0">{{posts.length}} results for keyword "{{keyword}}"</h3>
  <mat-divider class="mb-4" *ngIf = "posts.length > 0"></mat-divider>
  <div *ngFor="let post of posts; let i = index" class="container mb-4">
    <h4 class="mb-2"><a [routerLink]="['/topics',post.topic.topicId,'posts',post.postId]">{{post.title}}</a></h4>
    <div class="rounded border p-2">
      <div [innerHTML]="post.content | sanitizeHtml"></div>
    </div>
  </div>

</div>
